
    <!DOCTYPE html>
    <html>
    <head>
    <title> flightinfo </title>
    
    </head>

    <body class = "flightinfo">

        <div>
        <h1 id = "welcome">
            You will see some flight info here!
        </h1>

        <h2>
            yes we know it's not pretty but here's a plane picture as a consolation prize
        </h2>

        <img width="500" src="https://th.bing.com/th/id/R.0d1a9dc7ef7591b812fd78bf47aa4920?rik=2xC4rHwdwi%2fwuA&riu=http%3a%2f%2fimages.clipartpanda.com%2fcartoonist-clipart-airplane_THUMB.jpg&ehk=8OYts5rk4g%2fi9k1boFe%2bwIfLUwMFfrCzdaytE3yYPKA%3d&risl=&pid=ImgRaw&r=0" >


        </div>
        <div class = "navabar">
            <a href="/">Home</a>
            <!--<a href="/logout">logout</a>-->
            
        </div>
    