
    <!DOCTYPE html>
    <html>
    <head>
    <title> home </title>
    </head>

    <body class = "home">

        <div>
        <h1 id = "welcome">
            WELCOME, tester!
        </h1>
        Made by coMBAT TAMBorines!
        </div>
        <div class = "navabar">
            <a href="/">Profile</a>
            <a href="/flightinfo">flightinfo</a>
        </div>
    
<div>

    <form action='/logout' method = "POST">
        <button type="submit" class = "button">Logout</button>
    </form>
</div>
