
<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN PAGE </title>
    <link rel="stylesheet" type = "text/css" href="../static/login.css">
  </head>

  <body class = "login">
    <h1>
      LOGIN
    </h1>
    Made by coMBAT TAMBorines!

    <div>
      <h2 id = "loghead">
        LOGIN HERE
      </h2>
      <h3>
        Username:
      </h3>
      <form action="/login" method = "POST" class = "form">
        <input type="text" name="username">
      <br>
      <h3>
        Password:
      </h3>
        <input type="text" name="password">
      <br>
      <br>
        <input type="submit" name="sub1" value="Login" id class = "button">
      <h2>
        Don't have an account???
      </h2>
        <button type="button" class = "button"><a href="/register">REGISTER</a></button>
      </form>
      <br>
      <div id = "regmsg">
        {{loginMSG}}
        {{ error }}
      </div>
    </div>

  </body>

</html>
