
<!DOCTYPE html>
<html>
  <head>
    <title> REGISTER PAGE </title>
    <link rel="stylesheet" type = "text/css" href="../static/register.css">
  </head>

  <body class = "register">
    <h1>
      Register page??
    </h1>
    Made by coMBAT TAMBorines!
    <h2>
      REGISTER HERE
    </h2>

    <h3>
      Username:
    </h3>
    <form action="/register" method = "POST" class = "form">
      <input type="text" name="username">
    <br>
    <h3>
      Password:
    </h3>
      <input type="text" name="password">
    <br>
    <br>
      <input id = "regbut" type="submit" name="sub1" value="Register" class = "button">
    </form>
    <br>

    <br>
    <div class = "loginredir">
        <h2>
            Already have an account?
        </h2>
        <a href="/login" >Login</a>
    </div>
    <br>

    <div id = "regmsg">
      {{registerMSG}}
    </div>
        
  </body>

</html>
