<!DOCTYPE html>
<html>
  <head>
    <title> REGISTER PAGE </title>
    <link rel="stylesheet" type = "text/css" href="../static/register.css">
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
      crossorigin="anonymous"
    >
  </head>

  <body class = "register">
    <h1>
      Register page??
    </h1>
    Made by coMBAT TAMBorines!
    <h2>
      REGISTER HERE
    </h2>

    <h3>
      Username:
    </h3>
    <form action="/register" method = "POST" class = "form">
      <input type="text" name="username">
    <br>
    <h3>
      Password:
    </h3>
      <input type="text" name="password">
    <br>
    <br>
      <input id = "regbut" type="submit" name="sub1" value="Register" class = "button">
    </form>
    <br>

    <br>
    <div class = "loginredir">
        <h2>
            Already have an account?
        </h2>
        <a href="/login" >Login</a>
    </div>
    <br>

    <div id = "regmsg">
      {{registerMSG}}
      {{ error }}
    </div>
        
  </body>

</html>